
{% include analytics.html %}
</div><!-- /#container -->
</body>
<div id="footer" >
    <div class="container">
        <div class="sixteen columns clearfix">
            <div id="credits">
            2015 Portail Bio-Informatique de l'Universit&eacute de Sherbrooke.<br/> For support contact jean-francois.lucier[at]usherbrooke.ca
            </div>
        </div>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script>

  $("table").each(function(i, n) {
      $(n).addClass("table table-bordered table-striped table-hover")
  })
</script>
</html>
