
{% include analytics.html %}
</div><!-- /#container -->
</body>
<div id="footer" >
    <div class="container">
        <div class="sixteen columns clearfix">
            <div id="credits">
            2015 Portail bio-informatique et phénotypique de l'Université de Sherbrooke.<br/> For support contact <a href="mailto:jean-francois.lucier@usherbrooke.ca">jean-francois.lucier@usherbrooke.ca</a>
            </div>
        </div>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<script>

  $("table").each(function(i, n) {
      $(n).addClass("table table-bordered table-striped table-hover")
  })
</script>
</html>
