<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Portail Bio-Informatique</title>
    <link href="{{ site.baseurl }}/css/buttons.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/layout.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/skeleton.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div id="header" class="sixteen columns clearfix"> 
            <div class="inner">
                <div id="name-and-slogan">
                    <div id="site-name">
                        <a href="/drupal/" title="Accueil" rel="home">Portail Bio-Informatique</a>
                    </div>
                    
                    <div id="site-slogan">
                        du Département de Biologie de l'Université de Sherbrooke
                    </div>
                </div>
            </div>
        </div>
        <div id="navigation" class="sixteen columns clearfix">
        
            <div class="menu-header">
                <div class="content">
                    <ul class="menu">
                        <li class="first leaf"><a href="/index.html" >Accueil</a></li>
                        <li class="expanded">
                            <a href="/equipements/equipments.html">Services</a>
                            <ul class="menu">
                                <li class="expanded"><a href="/services/bioinformatique.html">Bio-informatique</a></li>
                                <li class="last leaf"><a href="/services/microscopie.html">Microscopie</a></li>
                            </ul>
                        </li>
                        <li class="expanded">
                            <a href="/equipements/equipments.html">Équipements</a>
                            <ul class="menu">
                                <li class="expanded"><a href="/equipements/microscope.html">Microscopes</a></li>
                                <li class="last leaf"><a href="/equipements/reservation.html">Reservation</a></li>
                            </ul>
                        </li>
                        <li class="expanded"><a href="/drupal/node/85" title="">Aide</a>
                            <ul class="menu">
                                <li class="first last expanded"><a href="/aide/omero.html">OMERO server</a></li>
                            </ul>
                        </li>
                        <li class="expanded"><a href="/outils/outils.html">Outils</a>
                            <ul class="menu">
                                <li class="first leaf"><a href="/cgi-bin/CrisypyCrunch/index.pl" title="">CrispyCrunch</a></li>
                                <li class="first leaf"><a href="/emboss-explorer" title="">EMBOSS Explorer</a></li>
                                <li class="last leaf"><a href="http://omero.ccs.usherbrooke.ca/" title="Client web OMERO">OMERO.web</a></li>
                            </ul>
                        </li>
                        <li class="leaf"><a href="/contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div> 
    
