---
layout: default
---

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <a href="/services/bioinformatique.html">
        <img src="/images/banners/bioinfo_service_main_crop.png" alt="Chania">
      </a>
      <div class="carousel-caption">
          <h3 >Solutions bio-informatiques adaptées à vos besoins</h3>
      </div>
    </div>

    <div class="item">
        <a href="/services/bioinformatique.html">
            <img src="/images/banners/1_analysis_crop.png" alt="Chania">
        </a>
        <div class="carousel-caption">
          <h3 >Une equipe d'experts bio-informaticiens disponible pour votre laboratoire</h3>
        </div>
    </div>
    
    <div class="item">
        <a href="/services/microscopie.html">
            <img src="/images/banners/dii2_cr.png" alt="Chania">
        </a>
        <div class="carousel-caption">
          <h3 >Caracterisations phénotypique sans soucis de vos biomarqueurs d'intérêts</h3>
        </div>
    </div>
    
    <div class="item">
        <a href="/services/microscopie.html">
            <img src="/images/banners/ph1_cr.png" alt="Chania">
        </a>
        <div class="carousel-caption">
          <h3 >Service dynamique qui s'adapte à vos besoins</h3>
        </div>
    </div>
    
    <div class="item">
        <a href="/services/microscopie.html">
            <img src="/images/banners/banner_canope.png" alt="Chania">
        </a>
        <div class="carousel-caption">
          <h3 >Un analyse d'images s'appliquant à de multiples domaines</h3>
        </div>
    </div>
    
    <div class="item">
        <a href="/services/bioinformatique.html">
            <img src="/images/banners/Hirondelle bicolore - copie_cr.png" alt="Chania">
        </a>
        <div class="carousel-caption">
          <h3 >Expert biostatisticien pour la validation statistique de vos résultats</h3>
        </div>
    </div>
    
    <div class="item">
        <a href="/services/bioinformatique.html">
            <img src="/images/banners/Ram2014Quick-0096_cr.png" alt="Chania">
        </a>
        <div class="carousel-caption">
          <h3 >Analyse bio-statistiques pour l'étude de la dynamique des populations</h3>
        </div>
    </div>
    
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

{% markdown home-page.md %}

<!--
{% for post in paginator.posts %}
<div class="article">
    <div>
        <h1><a href="{{ site.baseurl}}{{ post.url }}">{{ post.date | date: "%b %-d, %Y" }} - {{ post.title }}</a></h1>
        {% if site.comments == true and post.comments == true and site.disqus != '' %}
          <p class="author"><a href="{{ site.baseurl }}{{ post.url }}/#disqus_thread">Comments</a></p>
        {% endif %}
        <div class="content">
            {{ post.content }}
        </div>
    </div>
</div>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a class="btn btn-default" href="{{ site.baseurl}}/index.html" class="previous">Newer</a>
      {% else %}
        <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.previous_page }}" class="previous">Newer</a>
      {% endif %}
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.next_page }}" class="next">Older</a>
  {% endif %}
</div>
-->
