{% include header.html %}
<div id="content" class="sixteen columns clearfix">   
    <div id="main">
            <div id="block-system-main" class="block block-system">
                <div class="content">
                        <div class="content clearfix">
                            
                                <div class="field-items">
                                    <div class="field-item even" property="content:encoded">
                                        {{ content }}
                                    </div>
                                </div>
                        </div>
                </div>
            </div>
    </div>
</div><!-- /#content -->


{% include footer.html %}
